<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title><%= title %></title>
  </head>
   <body>
    
      <div
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Welcome to Online voting Application</h1>
      </div>
   
    <div>
      <% if (messages && messages.error && messages.error.length > 0) { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
              <p class="bg-blue-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
          <% } %>
      <% } %>
  </div>
    <div class="grid grid-cols-7">
      <div class="col-start-3 col-span-3">
        <p class="py-1 mb-6 text-3xl" id="b">Welcome Dashboard :-</br><b>Voting Application</b></p>
        <div id="form-wrapper">
          <p class="py-1 text-xl">
            Registeration Link for Voting <a class="text-blue-600" href="/signup"><u>Sign-up</u></a>
          </p>
          <p class="py-1 text-xl">
            Already have an account?
            <a class="text-blue-600" href="/login"><u>Sign-in</u></a>
          </p>
        </div>
      </div>
    </div>
    <div class="mb-0"> <%- include('footer.ejs') %>
    </div>
  </body>
</html>